.gallery {
    padding-top: 50px;
    max-width: 100%;
}

@media screen and (max-width: 970px) {
    .gallery {
        padding: 36px 19px 0;
    }
}

/* @media screen and (max-width: 395px) {
    .gallery {
        margin: 0 minmax(19px, auto) 0;
    }
} */