.page__container{
    min-width: 320px;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 45px;
}

@media screen and (max-width: 770px) {
    .page__container {
        padding-top: 28px;
    }
}