.gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 17px;
    margin: 0;
    justify-items: center;
    list-style: none;
    padding: 0;
    }
/* 
@media screen and (max-width: 670px) {
    .gallery__list {
        padding: 0 19px;
    }
}

@media screen and (max-width: 400px) {
    .gallery__list {
        padding: 0;
    }
} */