.profile__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    color: #fff;
    grid-area: description;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 870px) {
    .profile__description {
        font-size: calc( (100vw - 320px)/(880 - 320) * (18 - 14) + 14px);
        line-height: calc( (100vw - 320px)/(880 - 320) * (22 - 17) + 17px);
        text-align: center;
    }
}