@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

@import url(../page/page.css);
@import url(../page/__container/page__container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
