.profile__info{
    display: flex;
    gap: 13px;
    max-width: 500px;
    align-items: flex-start;
    width: 100%;
    align-content: stretch;
    flex-direction: column;
}

@media screen and (max-width: 770px) {
    .profile__info {
        gap: 9px 7px;
    }
}